argon2-cffi==21.1.0
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==4.1.0
blinker==1.7.0
Bottleneck @ file:///C:/b/abs_f05kqh7yvj/croot/bottleneck_1707864273291/work
category-encoders==2.6.3
certifi==2024.2.2
cffi==1.15.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.4
cramjam @ file:///C:/b/abs_ee5p_hdqv7/croot/cramjam_1702650853241/work
cycler==0.11.0
Cython==3.0.10
dash==2.16.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.5.1
decorator==5.1.0
deep-translator==1.11.4
defusedxml==0.7.1
deprecation==2.1.0
entrypoints==0.3
fastparquet @ file:///C:/b/abs_71unmmjm1m/croot/fastparquet_1696542387319/work
Flask==3.0.3
fonttools==4.51.0
fsspec @ file:///C:/b/abs_97mpfsesn0/croot/fsspec_1701286534629/work
gym==0.21.0
idna==3.7
imbalanced-learn==0.12.2
importlib_metadata==7.1.0
ipykernel==6.4.2
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.2.0
jedi==0.18.0
Jinja2==3.1.3
joblib==1.3.2
jsonschema==4.1.2
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kaleido==0.2.1
kiwisolver==1.3.2
lightgbm==4.3.0
llvmlite==0.42.0
MarkupSafe==2.1.5
matplotlib==3.5.0
matplotlib-inline==0.1.3
mistune==0.8.4
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.8.1
notebook==6.4.5
numba==0.59.1
numexpr @ file:///C:/b/abs_5fucrty5dc/croot/numexpr_1696515448831/work
numpy==1.24.1
orjson==3.10.1
packaging==24.0
pandas @ file:///C:/b/abs_3awk0iw2ab/croot/pandas_1709590545218/work/dist/pandas-2.2.1-cp39-cp39-win_amd64.whl#sha256=f678af1dc65824be67d5789cb9f76ffef40030e586438eef2c8664c33bbd4c6c
pandocfilters==1.5.0
parso==0.8.2
patsy==0.5.6
pickleshare==0.7.5
pillow==10.3.0
plotly==5.21.0
plotly-resampler==0.10.0
pmdarima==2.0.4
prometheus-client==0.12.0
prompt-toolkit==3.0.21
psutil==5.9.8
pyarrow==11.0.0
pycaret==3.0.4
pycparser==2.20
Pygments==2.10.0
pyod==1.1.3
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2024.1
pywin32==306
pywinpty==1.1.5
pyzmq==22.3.0
qtconsole==5.1.1
QtPy==1.11.2
regex==2024.4.16
requests==2.31.0
retrying==1.3.4
schemdraw==0.15
scikit-base==0.7.7
scikit-learn==1.2.2
scikit-plot==0.3.7
scipy==1.11.4
seaborn==0.13.2
Send2Trash==1.8.0
setuptools-scm==8.0.4
six @ file:///tmp/build/80754af9/six_1644875935023/work
sktime==0.26.0
soupsieve==2.5
statsmodels==0.14.2
tbats==1.1.3
tenacity==8.2.3
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.4.0
tomli==2.0.1
tornado==6.1
tqdm==4.66.2
traitlets==5.14.2
tsdownsample==0.1.3
typing_extensions==4.11.0
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3==2.2.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==3.0.2
widgetsnbextension==3.5.2
wordcloud==1.9.3
xxhash==3.4.1
yellowbrick==1.5
zipp==3.18.1
